<div class="inner-page">
    <section class="breadcrumbs">
        <div class="container">
            <div class="moduletable">
                <ul class="breadcrumb">
                    <li class="active">Новости</li>
                </ul>
            </div>
            <h1 class="sect-title">Английский язык</h1>
        </div>
    </section>
    <section class="text-content">
        <div class="container">
            <div class="news-module-wrap" #newsWrap>

            </div>


            <div class="materials-wrap">

                <div class="maretial-item" *ngFor="let article of articles">
                <div class="bloglatestnews3">
                    <a [routerLink]="['/novosti/', article.alias]">
                    <img [src]="article.images['image_intro']" [alt]="article.images['image_intro_alt']" [title]="article.images['image_intro_alt']"/>
                    </a>
                </div>

                <div class="bloglatestnews4"><div class="material-title">{{article.title}}</div></div>

                <div class="material-descr">

                    {{article.images['image_intro_alt']}}
                </div>
                <a class="material-link" [routerLink]="['/novosti/', article.alias]">Читать далее</a></div>




        </div>


</div>
    </section>
</div>


