<div class="inner-page">
  <section class="breadcrumbs">
    <div class="container">		<div class="moduletable">

      <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">


        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="active">
				<span itemprop="name">
					Отзывы				</span>
          <meta itemprop="position" content="1">
        </li>
      </ul>
    </div>

      <h1 class="sect-title">Отзывы</h1>
    </div>
  </section>

<section class="responses inner-sect ">
<div class="container">

  <div class="responses-wrap" #responsesWrap>


    <div class="responses-item" *ngFor="let response of textData; let i = index">
      <div class="responses-back"></div>
      <img class="responses-img" [src]="response.img" [alt]="response.resp_name"/>
      <div class="responses-name">{{response.resp_name}}</div>
      <div class="responses-text">{{response.resp_text}}
     <a class="responses-link" [href]="response.resp_link">Читать полностью</a>
    </div>
  </div>
</div>
</div>

</section>
</div>